PglRobot/config.py
PglRobot/*.session
PglRobot/*.session-journal
PglRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
PglRobot/modules/helper_funcs/temp.txt
PglRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
PglRobot.session-journal
updates.txt
*.exe
